@import './color';

.article-title {
    font-weight: bold !important;
    margin-bottom: 0px !important;
}
.list-title {
    padding-top: 0px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
}

.article-more {
    a {
        color: $black-thin !important;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

.articles-card {
    margin-top: 14px;

    .articles-title {
        font-size: 16px !important;
        word-break: break-word;  
        line-height: 1.2em;

        a {
            color: $black-bold !important;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }

    .articles-card-action {
        position: absolute;
        top: 70px !important;
        width: 83% !important;
    }

    .articles-avatar {
        padding: 0px;
        margin-right: 0 !important;
    }

    .articles-source {
        font-size: 14px;
        a {
            color: $black-bold !important;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
}

