@import './color';

.title-section {
    margin: 0px;
    padding-right: 60px;

    .v-label {
        font-size: 24px !important;
        font-weight: bold;
        color: $black-thin !important;
    }

    .v-input {
        font-size: 24px;
        font-weight: bold;
    }
}
.editor-section {
    margin: 0;
    padding-right: 60px;
    .editor-title-post {
        display: block !important;
        width: 100%;
        height: 20%;
    }
}

.properties {
    width: 100%;

    .categories {
        min-height: 0 !important;
    }
}

