@import "./color";

.details {
    margin: auto;

    .title-text {
        word-break: break-word;  
        font-weight: bold;
    }

    .posted {
        color: $black-bold;
    }

    .summary {
        font-size: 18px;
        text-align: justify;
        word-break: break-word; 
    }

    .article-source {
        a {
            color: $black-bold !important;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
}

.comments {
    margin: auto;

    .comment-avatar {
        border-radius: 0px;
    }

    .subtitle {
        -webkit-line-clamp: 10 !important;
    }

    .content {
        padding: 0px !important;
    }

    .comment-source {
        a {
            color: $black-bold !important;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
}
