@import './color';

.news-card {
    margin: 2px;

    .v-responsive__content {
        flex: auto;
    }

    .news-title {
        word-break: break-word;  
        width: 100%;
        font-size: 16px;
        a {
            color: $text-title;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .news-img {
        height: 310px;
    }

    .v-card__actions {
        position: absolute ;
        bottom: 0;
    }

    .v-list-item__title {
        color: $text-title;
    }
    
    .news-avatar {
        padding: 0px;
        margin-right: 0 !important;
    }

    .news-source {
        font-size: 14px;
        a {
            color: $text-title;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .news-avatar-img {
        width: 30px;
    }
}