@import "./color";

.photo-card {
    margin-top: 100px;

    .name-display {
        padding-top: 0px;
        display: block;
    }

    .photo-display {
        position: relative;
        top: -80px;
        text-align: center;
    }

    .follow-action {
        display: block;
    }

}