@import './color';

.v-toolbar {
    flex: 0 0 auto !important;
}
.toolbar-page {
    border-bottom: 1px solid #dfe6e9 !important;

    .icon-section {
        float: left;
        text-align: center;
        .icon-title {
            width: 48px;
            height: auto;
        }
    }

    .menu-section {
        float: left;
        padding: 10px;
        margin-top: 3px;
        ul {
            list-style-type: none;
        }

        li {
            display: inline;
            margin: 5px;
            padding-right: 18px;
        }

        a {
            font-family: 'Lato', sans-serif;
            text-decoration: none;
            color: $black-thin;
        }

        a.active {
            font-weight: bold;
            color: $black-bold;
        }

        a:hover {
            text-decoration: underline;
        }
    }
        
}

.auth-bar-section {
    float: right;
    margin-top: 10px;
    
    .auth-page {
        padding-left: 5px;
        font-family: 'Lato', sans-serif;
        float: right;
    }
}

.tags {
    width: 700px;
}

/* Portrait and Landscape */
@media screen and (max-width: 834px) {
    .tags {
        width: 600px;
    }
}
